core
*.swp
*.swo
*.o
*.log
*.pyperf
.depend
py/clib.*
py/*.pyc
py/tunlib.py
py/efilib.py
py/efilib.xml
py/tglib.xml
py/tunlibgen
trace/*
fw/fw.elf
fw/fw.img
fw/fixed.sym
efi/*.efi
efi/*.so
efi/*.o
efi/*.pdb
efi/*.rom
eeprom.bak
win/**/[Dd]ebug/
win/**/[Rr]elease/
win/**/x64/
win/**/ipch/
win/.vs/
win/**/*.user
win/**/*.vspscc
win/**/*.sdf
win/**/*.VC.opendb
**/build/
.vscode/
