core
*.swp
*.swo
*.o
.depend
py/clib.*
py/*.pyc
py/tglib.*
py/tunlib.py
py/efilib.py
py/efilib.xml
py/tunlibgen
trace/*
fw/fw.elf
fw/fw.img
fw/fixed.sym
efi/*.efi
efi/*.so
efi/*.o
efi/*.rom
eeprom.bak
